.homepage {
  background: linear-gradient(rgb(139, 208, 205) 30%, white);
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.homepage .feedback {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}

.homepage .registration {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homepage .feedback label {
  font-size: large;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homepage .feedback input {
  height: 2rem;
  border: none;
  width: 40%;
}

.homepage .list {
  height: 80%;
}
